body {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    justify-content: center;
    font-weight: bold;
    /* background-color: rebeccapurple; */

}

fieldset {
    width: 35%;
    height: 40rem;
    border-radius: 17px;
    box-sizing: border-box;
    overflow: auto;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 9px;
}

legend {
    text-transform: capitalize;
    font-size: x-large;
    font-family: math;
    color: rgb(6, 144, 82);
    text-shadow: 0px 0px 2px rgb(91, 60, 60);
}

label {
    margin: 3px 0px 3px 0px;
    padding: 2px 3px 4px 4px;
    display: inline-block;
    width: 87px;
}

label:hover {
    color: rgb(63, 166, 176);
}

input {
    /* Adjust width as needed */
    display: inline-block;
}

.iw {
    width: calc(100% - 129px);
}

#drop {
    width: 100px;
}

div {
    display: flex;
    /* justify-content: baseline; */
    justify-content: space-between;
    margin: 5px 210px 5px 1px;
}

#div {
    display: flex;
    justify-content: space-between;
    margin: 11px 30px 3px 30px;
}

button {
    border-radius: 4px;
    border-color: lightblue;
    background-color: rgb(205, 239, 252);
    font-size: 14px;
    text-shadow: 0px 0px 0px black;
}

button:active {
    background-color: rgb(117, 117, 223);
    color: #fff;
    font-weight: bold;
}